@charset "utf-8";

body {
	background: black;
	color: #00FF00;
	min-height: 100%;
	font-family: 'Iceland', serif;
	overflow: hidden;
}

html {
	height: 100%;
	background: black;
}


a {
	color: #00E;
}

a:visited {
	color: #FF00FF;
}

.content-container {
	height: 100%;
	width: 100%;
}

.inner-container {
	margin: 0 15% 0 15%;
	height: 100%;
}

.front-page-button {
	height: 45%;
	float: left;
	text-align: center;
	width: 50%;
	padding-top: 17%;
}

.front-page-button a {
	font-size: 2em;
}

#page-header {
	font-family: 'Scada', sans-serif;
	width: 100%;
	margin: 5px auto;
}

#page-header h1 {
	margin-left: 1em;
	font-size: 2em;
}

#page-header nav {
	width: 100%;
	display: table;
	background: #666;
}

#page-header ul {
	height: 5%;
	width: 100%;
}

#page-header li {
	cursor: pointer;
	text-align: center;
	list-style-type: none;
	font-weight: normal;
}

#page-header a {
	float: left;
	color: #00FF00;
	margin-left: 2em;
}

#page-header a:hover {
	background:#00FF00;
	color:#D3D3D3;
}

#page-footer {
	bottom: 0;
	margin: 0 0 0 2em;
	position: fixed;
}

/*
hgroup h1 {
	font-size: 2em;	
	font-family: 'Scada', sans-serif;
	padding-left: 1%;
}


footer p {
	margin: 0 auto;
	bottom: 0;
	position: fixed;
}

	font-weight: bold;
	text-decoration: none;
	padding-left: 1em;
	height: 100%;
	line-height: 100%;


#page-title-h2 {
	font-family: 'Gudea', serif;
}

#page-title-h3 {
	font-family: 'Iceland', serif;
}

#Grimes-video {
}

#Grimes-div {
	margin-top: 2%;
	width:100%;
}

.navigation {
	height:5%;
	min-height: 5%;
	background: #666;
	width: 94%;
	overflow: hidden;
	margin-left: 3%;
}

.navigation header {
	height: 100%;
	min-height: 100%;
	width: 100%;
	min-width: 100%;
	clear: left;
}

.front_page_button {
	padding: 14.3% 0%;
	width: 50%;
	height: 45%;
	float: left;
	text-align: center;
}

.container {
	height: 90%;
	width: 100%;
	overflow: hidden;
	background: black;
	position: relative;
	font-size: 2em;
}

.inner-container {
	height: 100%;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 1%;
}

.container div a {
	font-family: 'Scada';
}

.twenty-percent-div {
	width:30%;
	float:left;
}*/
