@charset "utf-8";

body {
	background: black;
	color: #00FF00;
	min-height: 100%;
	font-family: 'Iceland', serif;
	overflow: hidden;
}

html {
	height: 100%;
	background: black;
}


a {
	color: #6666f4;
}

p {
	margin-top: 1em;
}

a:visited {
	color: #FF00FF;
}

.content-container {
	height: 100%;
	width: 100%;
}

.inner-container {
	margin: 0 15% 0 15%;
	height: 100%;
}

.front-page-button {
	height: 45%;
	float: left;
	text-align: center;
	width: 50%;
	padding-top: 17%;
}

.front-page-button a {
	font-size: 2em;
}

#page-header {
	font-family: 'Scada', sans-serif;
	width: 100%;
	margin: 5px auto;
}

#page-header h1 {
	margin-left: 1em;
	font-size: 2em;
}

#page-header nav {
	width: 100%;
	display: table;
	background: #666;
}

#page-header ul {
	height: 5%;
	width: 100%;
}

#page-header li {
	cursor: pointer;
	text-align: center;
	list-style-type: none;
	font-weight: normal;
}

#page-header a {
	float: left;
	color: #00FF00;
	margin-left: 2em;
}

#page-header a:hover {
	background:#00FF00;
	color:#D3D3D3;
}

#page-footer {
	bottom: 0;
	margin: 0 0 0 2em;
	position: fixed;
}
